{:paths ["resources" "src"]
 :deps  {hickory/hickory     {:mvn/version "0.7.1"}
         hato/hato           {:mvn/version "0.8.0"}
         com.taoensso/encore {:mvn/version "3.12.1"}
         ribelo/pathos       {:git/url "https://github.com/ribelo/pathos"
                              :sha     "fcdb735ee1b8cc43995f9beb81079025b995ffe2"}}}
