{:paths ["resources" "src"]
 :deps  {hickory/hickory     {:mvn/version "0.7.1"}
         hato/hato           {:mvn/version "0.8.0"}
         com.taoensso/encore {:mvn/version "3.12.1"}
         com.wsscode/pathom3 {:git/url "https://github.com/wilkerlucio/pathom3"
                              :sha     "96fc43469b4f1049dbbdc375d698e1c64e44de01"}}}
