{:paths ["resources" "src"]
 :deps  {org.clojure/clojure    {:mvn/version "1.10.1"}
         org.clojure/core.async {:mvn/version "0.6.532"}
         com.taoensso/encore    {:mvn/version "2.118.0"}
         clojure.java-time      {:mvn/version "0.3.2"}
         net.cgrand/xforms      {:mvn/version "0.19.2"}
         cheshire               {:mvn/version "5.9.0"}
         clj-http               {:mvn/version "3.10.0"}}}
